
.sizeable{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.game-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.score {
    margin-top: 20px;
}
.game-results {
    margin-top: 10em;
    overflow: scroll;
    margin-bottom: 10em;
    /* max-height: 5em; */
    min-height: 5em;
}
.round-result {
    margin-bottom: 10px;
}
#rock{
    font-size: 4em;
}
#paper{
    font-size: 4em;
}
#scissors{
    font-size: 4em;
}
#startGameBtn{
    margin: 0 auto;
}
#restartGameBtn{
    margin: 0 auto;
}
footer{
    position: sticky;
    bottom: 0;
}